* {
  color: cadetblue;
}

body {
  background-color: black;
}

#titulo {
  background-color: aquamarine;
}

div {
  color: blueviolet;
}

h1 {
  color: blue;
}
.caja {
  width: 600px;
  height: 600px;
  background-color: bisque;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin: 20px 20px 20px 20px;
  margin: 80px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding: 50px;
  border: solid 5px brown;
  box-sizing: border-box;
  border-radius: 0 40px 0 0;
  box-shadow: 100px 100px 100px #fff;
}

div ~ #caja2 {
  border: solid 20px yellow;
}

img {
  filter: drop-shadow(100px -100px 0px blue);
}