* {
  color: cadetblue;
}

body {
  background-color: rgba(50, 50, 50, 0.5);
}

#titulo {
  background-color: aquamarine;
}

div {
  color: blueviolet;
}

h1 {
  color: blue;
}
.caja {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  margin: 80px;
  padding: 50px;
  border: solid 5px brown;
  box-sizing: border-box;
  border-radius: 0 40px 0 0;
  box-shadow: 100px 100px 100px #fff;
  background-color: rgba(100, 50, 50, 0.5);
  
}

div ~ #caja2 {
  border: solid 5px yellow;
}

img {
  filter: drop-shadow(100px -100px 0px blue);
}